 * {
   margin:0;
   padding:0;
   box-sizing: border-box;
 }
 .clear {
   position:absolute;
   left:-9999px;
   overflow:hidden;
}

a {
   text-decoration: none;
   color:#000;
}
ul {
    list-style: none;
}

body {
    position:relative;
}


/*section*/

#section_body {
    width: 1280px;
    margin: 0 auto;
}

#section_body article{
    position: relative;
    margin-bottom: 0px;
    clear: left;
}

#section_body article:last-child{
    margin-bottom: 0px;
}

/*참고용사진2*/
#section_body article:first-child{
    width: 1920px;
    height: 500px;
    margin-left: -360px;
}


#section_body article:first-child > #art_no1_bg_img{
    width: 100%;
    height: 450px;
    position: relative;
    top: 50px;
    right: 0px;
}

#article_no1 > .art_no1_div1{
    position: absolute;
    width: 200px;
    height: 450px;
    top: 50px;
    right: 280px
}

.ben_no1, .ben_no2, .ben_no3, .ben_no4{
    width: 200px;
    height: 112.5px;
    float: left;
    background-color: gray;
    color: white;
    font-size: 23px;
    line-height: 4.3;
    text-align: center;
}
.ben_no1:hover, .ben_no2:hover, .ben_no3:hover, .ben_no4:hover{
	background-color: black;
	font-size: 25px;
	
}

#section_body #article_no2, #section_body #article_no3{
    height: 300px;
}

#article_no2_div1{
    width: 960px;
    position: absolute;
    top: 40px;
    left: 160px;
}


#article_no2_div1 > div{
    width: 300px;
    height: 100px;
    float: left;
    margin: 5px 10px;
    text-align: center;
}


#article_no2_div1 > div > a{
    color: white;
    font-size: 15pt;
    font-weight: bold;
    line-height: 4.5;
}

#article_no2 .bgno1{
    background-image: url(../image/shopimg/bgbutton/green.png);
}

#article_no2 .bgno2{
    background-image: url(../image/shopimg/bgbutton/brown.png);
}

#article_no2 .bgno3{
    background-image: url(../image/shopimg/bgbutton/blue.png);
}

#article_no2 .bgno4{
    background-image: url(../image/shopimg/bgbutton/black.png);
}

#article_no2 .bgno5{
    background-image: url(../image/shopimg/bgbutton/gray.png);
}

#article_no2 .bgno6{
    background-image: url(../image/shopimg/bgbutton/purple.png);
}





#article_no3_div1{
    width: 1200px;
    position: absolute;
    top: 0px;
    left: 40px;
}


#article_no3_div1 > div{
    width: 280px;
    height: 190px;
    float: left;
    margin: 0px 10px;
}

#article_no3_div1 > .brand_label{
    background-image: url(../image/shopimg/bgbutton/lightgray.png);
    width: 1200px;
    height: 70px;
    float: left;
    font-size: 30px;
    text-align: center;
    line-height: 2;
    margin: 0;
}



#article_no4{
	width:1200px;
	height: 850px;
	position: relative;
	padding-left: 40px;
}

#article_no4 > div{
	width:570px;
	padding: 5px;
	float: left;
	margin-left: 10px;
}

#article_no4 > div> div:first-child{
	width:370px;
	float: left;
	margin-bottom: 20px;
}

#article_no4 > div > a > input[type=button]{
	width: 190px;
	float: right;
	font-size: 18px;
	background-color : black;
	color : white;
	border : 1px solid gray;
	border-radius: 30px;
	
}

#article_no4 > div> .benner_2{
	float: left;
	width: 600px;
	height: 180px;
	position: relative;
	margin-bottom: 30px
}

.benner_2 > span{
	display: block;
	width: 400px;
	margin: 0 auto;
}

.benner_2 > span > img{
	display: block;
	width: 360px;
	height: 180px;
}


#article_no4 > div> .bt_prd{
	width: 600px;
	height: 40px;
	padding: 0 20px;
	float: left;
}
#article_no4 > div > .bt_prd > input{
	width: 250px;
	height: 40px;
	margin : 5px;
	font-size: 18px;
	background : none;
	border-top: none;
	border-bottom: 5px solid steelblue;
	border-left: none;
	border-right: none;
}
#article_no4 > div > .bt_prd > input:hover{
	background-color: steelblue;
	font-size:23px;
	color:white;
	font-weight: bold;
	
}

#article_no4 > div > .prd_list{
	margin-top: 10px;
	width: 560px;
	height: 400px;
	float:left;
	padding: 20px 20px 20px 85px;
}

.prd_list > div{
	height: 130px;
}

#article_no4 .prd_list .img_siz{
	width: 90px;
	height: 90px;
	float:left;
}

#article_no4 .prd_list .fl_lf{
	width: 105px;
	height: 90px;
	float:left;
	padding-top: 40px;
	margin-left: 10px;
}
#article_no4 > div > .shop_go{
	width: 560px;
	height: 45px;
	float:left;
}

#article_no4 > div > .shop_go > a > input{
	width: 560px;
	height: 45px;
	background-color : black;
	color : white;
	border : 1px solid gray;
	border-radius: 30px;
}
