@charset "UTF-8";
#inner{
	width: 1080px;
    margin: 0 auto;
    padding-bottom: 30px;
    min-height: 699px;
    overflow:auto;
}
.style1{
	font-size: 12px;
    line-height: 1.25;
    color: #777;
}
.style2{
	font-size: 14px;
    line-height: 1.25;
    color: #777;
    text-align: center;
    border-top: 1px solid #dfdfdf;
}
.style2 >tr >td{
	border-bottom: 1px solid #dfdfdf;
}
.bg1{
	border-bottom: 1px solid #5c6c90;
    color: #fff;
    background-color: #717f9a;
}
.fontstyle{
	font-weight: bold;
}
.review_title{
    margin-top: 35px;
    margin-bottom: 20px;
}

.serchtext{
	width: 120px;
    height: 22px;
}
.serchbtn{
	height: 22px;
}
.writebtn{
    padding: 6px 8px;
    border: 1px solid transparent;
    border-radius: 2px;
    font-family: "굴림",Gulim;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    background-color: #717f9a;;
    width:96px;
    float:right;
    margin-top: 20px;
    margin-right: 5px;
    font-weight: bold;
    cursor: pointer;
}
.head1{
	text-align: left;
    width: 60px;
    padding-left: 14px;
    padding-right: 5px;
    font-size: 12px;
}
.head2{
	text-align: left;
    width: 49px;
    padding-left: 14px;
    padding-right: 5px;
    font-size: 12px;
}
.head3{
	width:500px;
	text-align: center;
	height: 14px;
    padding-top: 10px;
    padding-bottom: 8px;
}
.head4{
	text-align: center;
    width: 45px;
    font-size: 12px;
}
.head5{
	text-align: center;
    width: 45px;
    font-size: 12px;
}
.head6{
	text-align: center;
    width: 57px;
    font-size: 12px;
}
span{
	width: 70px;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	display: block;
    margin: 0 auto;
}
